{# Ultra-compact SVG Icon Macros via SVG <use> symbol references #}
{% macro pixelMonster(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="#icon-pixel-monster"/></svg>{% endmacro %}
{% macro discord(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="#icon-discord"/></svg>{% endmacro %}
{% macro github(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="#icon-github"/></svg>{% endmacro %}
{% macro twitter(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="#icon-twitter"/></svg>{% endmacro %}
{% macro patreon(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="#icon-patreon"/></svg>{% endmacro %}
{% macro planetMinecraft(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="#icon-planet-minecraft"/></svg>{% endmacro %}
{% macro terminal(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="#icon-terminal"/></svg>{% endmacro %}
{% macro pickaxe(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="#icon-pickaxe"/></svg>{% endmacro %}
{% macro shield(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="#icon-shield"/></svg>{% endmacro %}
{% macro cpu(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="#icon-cpu"/></svg>{% endmacro %}
{% macro arrowDown(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="#icon-arrow-down"/></svg>{% endmacro %}
{% macro arrowRight(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="#icon-arrow-right"/></svg>{% endmacro %}
{% macro arrowLeft(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="#icon-arrow-left"/></svg>{% endmacro %}
{% macro arrowUpRight(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="#icon-arrow-up-right"/></svg>{% endmacro %}
{% macro check(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="#icon-check"/></svg>{% endmacro %}
{% macro disc3(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="#icon-disc3"/></svg>{% endmacro %}
{% macro play(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="#icon-play"/></svg>{% endmacro %}
{% macro pause(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="#icon-pause"/></svg>{% endmacro %}
{% macro skipBack(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="#icon-skip-back"/></svg>{% endmacro %}
{% macro skipForward(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="#icon-skip-forward"/></svg>{% endmacro %}
{% macro volume2(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="#icon-volume2"/></svg>{% endmacro %}
{% macro minus(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="#icon-minus"/></svg>{% endmacro %}
{% macro externalLink(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="#icon-external-link"/></svg>{% endmacro %}
{% macro menu(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="#icon-menu"/></svg>{% endmacro %}
{% macro x(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="#icon-x"/></svg>{% endmacro %}
{% macro folder(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="#icon-folder"/></svg>{% endmacro %}
{% macro fileText(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="#icon-file-text"/></svg>{% endmacro %}
{% macro user(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="#icon-user"/></svg>{% endmacro %}
{% macro mail(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="#icon-mail"/></svg>{% endmacro %}
{% macro rss(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="#icon-rss"/></svg>{% endmacro %}
{% macro bookOpen(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="#icon-book-open"/></svg>{% endmacro %}
{% macro graduationCap(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="#icon-graduation-cap"/></svg>{% endmacro %}
{% macro gamepad2(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="#icon-gamepad2"/></svg>{% endmacro %}
{% macro trophy(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="#icon-trophy"/></svg>{% endmacro %}
{% macro medal(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="#icon-medal"/></svg>{% endmacro %}
{% macro zap(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="#icon-zap"/></svg>{% endmacro %}
{% macro coffee(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="#icon-coffee"/></svg>{% endmacro %}
{% macro heart(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="#icon-heart"/></svg>{% endmacro %}
{% macro copy(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="#icon-copy"/></svg>{% endmacro %}
{% macro share2(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="#icon-share2"/></svg>{% endmacro %}
