{# Ultra-compact SVG Icon Macros via External Cached SVG Sprite #}
{% macro pixelMonster(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="/assets/icons.svg#icon-pixel-monster"/></svg>{% endmacro %}
{% macro discord(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="/assets/icons.svg#icon-discord"/></svg>{% endmacro %}
{% macro github(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="/assets/icons.svg#icon-github"/></svg>{% endmacro %}
{% macro twitter(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="/assets/icons.svg#icon-twitter"/></svg>{% endmacro %}
{% macro patreon(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="/assets/icons.svg#icon-patreon"/></svg>{% endmacro %}
{% macro planetMinecraft(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="/assets/icons.svg#icon-planet-minecraft"/></svg>{% endmacro %}
{% macro terminal(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="/assets/icons.svg#icon-terminal"/></svg>{% endmacro %}
{% macro pickaxe(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="/assets/icons.svg#icon-pickaxe"/></svg>{% endmacro %}
{% macro shield(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="/assets/icons.svg#icon-shield"/></svg>{% endmacro %}
{% macro cpu(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="/assets/icons.svg#icon-cpu"/></svg>{% endmacro %}
{% macro arrowDown(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="/assets/icons.svg#icon-arrow-down"/></svg>{% endmacro %}
{% macro arrowRight(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="/assets/icons.svg#icon-arrow-right"/></svg>{% endmacro %}
{% macro arrowLeft(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="/assets/icons.svg#icon-arrow-left"/></svg>{% endmacro %}
{% macro arrowUpRight(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="/assets/icons.svg#icon-arrow-up-right"/></svg>{% endmacro %}
{% macro check(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="/assets/icons.svg#icon-check"/></svg>{% endmacro %}
{% macro disc3(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="/assets/icons.svg#icon-disc3"/></svg>{% endmacro %}
{% macro play(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="/assets/icons.svg#icon-play"/></svg>{% endmacro %}
{% macro pause(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="/assets/icons.svg#icon-pause"/></svg>{% endmacro %}
{% macro skipBack(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="/assets/icons.svg#icon-skip-back"/></svg>{% endmacro %}
{% macro skipForward(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="/assets/icons.svg#icon-skip-forward"/></svg>{% endmacro %}
{% macro volume2(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="/assets/icons.svg#icon-volume2"/></svg>{% endmacro %}
{% macro minus(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="/assets/icons.svg#icon-minus"/></svg>{% endmacro %}
{% macro externalLink(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="/assets/icons.svg#icon-external-link"/></svg>{% endmacro %}
{% macro menu(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="/assets/icons.svg#icon-menu"/></svg>{% endmacro %}
{% macro x(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="/assets/icons.svg#icon-x"/></svg>{% endmacro %}
{% macro folder(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="/assets/icons.svg#icon-folder"/></svg>{% endmacro %}
{% macro fileText(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="/assets/icons.svg#icon-file-text"/></svg>{% endmacro %}
{% macro user(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="/assets/icons.svg#icon-user"/></svg>{% endmacro %}
{% macro mail(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="/assets/icons.svg#icon-mail"/></svg>{% endmacro %}
{% macro rss(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="/assets/icons.svg#icon-rss"/></svg>{% endmacro %}
{% macro bookOpen(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="/assets/icons.svg#icon-book-open"/></svg>{% endmacro %}
{% macro graduationCap(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="/assets/icons.svg#icon-graduation-cap"/></svg>{% endmacro %}
{% macro gamepad2(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="/assets/icons.svg#icon-gamepad2"/></svg>{% endmacro %}
{% macro trophy(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="/assets/icons.svg#icon-trophy"/></svg>{% endmacro %}
{% macro medal(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="/assets/icons.svg#icon-medal"/></svg>{% endmacro %}
{% macro zap(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="/assets/icons.svg#icon-zap"/></svg>{% endmacro %}
{% macro coffee(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="/assets/icons.svg#icon-coffee"/></svg>{% endmacro %}
{% macro heart(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="/assets/icons.svg#icon-heart"/></svg>{% endmacro %}
{% macro copy(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="/assets/icons.svg#icon-copy"/></svg>{% endmacro %}
{% macro share2(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="/assets/icons.svg#icon-share2"/></svg>{% endmacro %}
{% macro bug(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="/assets/icons.svg#icon-bug"/></svg>{% endmacro %}
{% macro block(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="/assets/icons.svg#icon-block"/></svg>{% endmacro %}
{% macro axe(class="w-4 h-4") %}<svg class="{{ class }}" aria-hidden="true"><use href="/assets/icons.svg#icon-axe"/></svg>{% endmacro %}


